[project]
	description = Test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hungb
[access "refs/for/refs/*"]
	read = group user/hungb
	push = group user/hungb
	label-Code-Review = -2..+2 group user/hungb
	label-Verified = -1..+1 group user/hungb
	rebase = group user/hungb
	removeReviewer = group user/hungb
	submit = group user/hungb
[access "refs/heads/*"]
	read = group user/hungb
	create = group user/hungb
	push = +force group user/hungb
	pushMerge = group user/hungb
[access "refs/tags/*"]
	push = +force group user/hungb
	pushTag = group user/hungb
	pushSignedTag = group user/hungb
